{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Me</title>
  <link rel="stylesheet" href="{% static 'portfolio/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'portfolio/jquery.fancybox.css' %}">
  <link rel="stylesheet" href="{% static 'portfolio/main.css' %}">
  <link rel="stylesheet" href="{% static 'portfolio/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'portfolio/animate.min.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <section id="introduction" class="section introduction">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <i class="fa-solid fa-circle-arrow-left"><a href="{% url 'index' %}"><svg height="1em" viewBox="0 0 512 512">
                <path
                  d="M512 256A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM231 127c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-71 71L376 232c13.3 0 24 10.7 24 24s-10.7 24-24 24l-182.1 0 71 71c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L119 273c-9.4-9.4-9.4-24.6 0-33.9L231 127z" />
              </svg></a></i>
          {% for about in abouts %}
          <div class="intro-content">
            <h1>{{ about.name }}</h1>
          </div>
        </div>
        <div class="col-md-5 col-sm-6">
          <div class="intro-content">
            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
              amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna
              mollis ornare vel eu leo.</p>
            <p>{{ about.description }} </p>
          </div>
        </div>
        {% endfor %}
        <div class="col-md-3 col-sm-6">
          <div class="intro-content">
            <h4>my expertise</h4>
            <ul>
              <li> - web design and development</li>
              <li> - corporate identity</li>
              <li> - Digital marketing</li>
              <li> - Promotion material</li>
              <li> - Branding</li>
              <li> - UX Strategy</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="{% static 'portfolio/jquery.min.js' %}"></script>
  <script src="{% static 'portfolio/bootstrap.min.js' %}"></script>
  <script src="{% static 'portfolio/jquery.fancybox.pack.js' %}"></script>
  <script src="{% static 'portfolio/retina.min.js' %}"></script>
  <script src="{% static 'portfolio/modernizr.js' %}"></script>
  <script src="{% static 'portfolio/main.js' %}"></script>
</body>

</html>